[submodule "public"]
	path = public
	url = https://github.com/zyw229/zyw229.github.io.git
	branch = main
[submodule "blog/public"]
	path = blog/public
	url = https://github.com/zyw229/zyw229.github.io.git
	branch = main
[submodule "blog/themes/hugo-blog-awesome"]
	path = blog/themes/hugo-blog-awesome
	url = https://github.com/hugo-sid/hugo-blog-awesome.git
